@import "~antd/dist/antd.css";
.app {
  display: grid;
  width: 100vw;
  height: 100vh;
  place-content: center;
  background-color: #f3f2f7;
}

.app h1 {
  text-align: center;
}

.ant-list {
  width: 90%;
  margin: 0 auto;
}
